/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #666;
    margin-top: 30px;
  }
  
  p {
    color: #777;
    margin-bottom: 20px;
  }
  
  /* Estilos específicos */
  h1,
  h2 {
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  